<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAO4aXYssV_u9-SZK-GrFh-TFU-JAqQDwo</string>
	<key>GCM_SENDER_ID</key>
	<string>844089529553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quiz4Final</string>
	<key>PROJECT_ID</key>
	<string>itsd84-quiz-4</string>
	<key>STORAGE_BUCKET</key>
	<string>itsd84-quiz-4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844089529553:ios:373e32a03e3c2a988de1f0</string>
	<key>DATABASE_URL</key>
	<string>https://itsd84-quiz-4-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>